* {
  margin: 0;
  padding: 0;
}
.welcomelayout {
  height: 100vh;
  background: url("./images/background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcomelayout > form {
  border-radius: 20px;
  width: fit-content;
  padding: 3% 5%;
  height: fit-content;
  background: white;
}
.welcomelayout > form > button {
  margin: 1%;
  /* border-radius: 10px; */
  color: white;
  background: blue;
  padding: 5%;
  cursor: pointer;
}
.welcomelayout > form > button > Link {
  text-decoration: none;
}
.welcomelayout > label {
  color: red;
  font-weight: 800;
}
.welcomelayout > form > h6 {
  font-size: 1rem;
}
.linktag {
  text-decoration: none;
  color: white;
}
span {
  color: red;
}
.welcomelayout > form > label {

  font-size:1.3rem;
  }
  .welcomelayout > form > input {
    height: 1.5rem;
    border-radius: 5px;
    width: 12rem;
  }