.palettet {
  border: 2px solid black;
  width: 25vw;
  height: fit-content;
  margin: 0px auto;
  padding: 5% 1%;

  display: flex;
  gap: 15%;
  flex-wrap: wrap;
  background-color: gray;
}
.star {
  width: 1rem;
  height: 1rem;
}
